[submodule "rush01"]
	path = rush01
	url = http://lmgtfy.com/?q=sudoku+backtracking
[submodule "evalexpr"]
	path = evalexpr
	url = http://lmgtfy.com/?q=evaluarea+unei+expresii
[submodule "match-n-match"]
	path = match-n-match
	url = http://lmgtfy.com/?q=wildcard+character+matching
[submodule "bsq"]
	path = bsq
	url = http://lmgtfy.com/?q=maximum+size+square+sub-matrix
